// styles/LoadingSpinner.module.scss
.spinner {
  border: 4px solid #f59c0f;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border-left-color: white;
  animation: spin 1s linear infinite;

  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
}
