.navComponent {
  width: 100%;
  margin: 150px auto;
  padding: 20px;
}

.navigation {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.navBtn {
  background-color: transparent;
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;

  span {
    color: black;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    transform: skew(-20deg);
    font-size: 16px;
  }

  &:hover {
    background-color: #2d6053;
    border: 2px solid #2d6053;
    transition: background-color 0.3s ease;
    transition: color 0.1s ease;

    span {
      color: white;
    }
  }
}
// 2d6053

.navBtnActive {
  background-color: #40ad92;
  border: 2px solid #40ad92;
  transition: background-color 0.3s ease;
  display: inline-block;
  font-size: 16px;
  margin: 0 10px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;

  span {
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transform: skew(-20deg);
  }
}

.component {
  padding: 20px;
}
