@import "../styles/font.scss";

.eventCarouselContainer {
  position: relative;
  z-index: 1;
  margin-top: 200px;
  height: 100vh;
}

.carouselText {
  h1 {
    color: #945a40;
    font-size: 4vw;
    @include montserrat-medium;
  }
  p {
    @include montserrat-extra-light;
    font-size: 30px;
    font-weight: 600;
  }
}
.carouselContainer {
  z-index: -1;
}

.slickSlider {
  width: 80%;
  height: inherit !important;
  margin: 0 auto;
}

.imageContainer {
  max-width: 700px;
  max-height: 500px;
  margin: 0px auto;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@media screen and (max-width: 640px) {
  .carouselText {
    h1 {
      font-size: 7vw;
      margin: 30px 30px;
    }
    p {
      font-size: 20px;
      margin: 30px 30px;
    }
  }
}

/* Mobile Landscape */
@media screen and (min-width: 641px) and (max-width: 767px) {
  .carouselText {
    h1 {
      font-size: 6vw;
      margin: 0 50px;
    }
    p {
      font-size: 30px;
      margin: 50px 50px;
    }
  }
}

/* Tablet Portrait */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .carouselText {
    h1 {
      font-size: 6vw;
      margin: 0 70px;
    }
    p {
      font-size: 30px;
      margin: 70px 70px;
    }
  }
}

/* Tablet Landscape */
@media screen and (min-width: 1025px) and (max-width: 1279px) {
  .carouselText {
    h1 {
      font-size: 5vw;
      margin: 0 50px;
    }
    p {
      font-size: 30px;
      margin: 50px 50px;
    }
  }
}

/* Desktop */
@media screen and (min-width: 1280px) and (max-width: 1680px) {
  .carouselText {
    h1 {
      margin: 0 70px;
    }

    p {
      margin: 70px 70px;
      font-size: 30px;
    }
  }
}

/* Large Desktop */
@media screen and (min-width: 1681px) {
  .carouselText {
    h1 {
      margin: 0 100px;
    }
    p {
      font-size: 30px;
      margin: 100px 100px;
    }
  }
}
