@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("/fonts/Montserrat-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("/fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("/fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Light";
  src: url("/fonts/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-ExtraLight";
  src: url("/fonts/Montserrat-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Thin";
  src: url("/fonts/Montserrat-Thin.ttf") format("truetype");
}

@mixin montserrat-extra-bold {
  font-family: Montserrat-ExtraBold;
}

@mixin montserrat-bold {
  font-family: Montserrat-Bold;
}

@mixin montserrat-medium {
  font-family: Montserrat-Medium;
}

@mixin montserrat-regular {
  font-family: Montserrat-Regular;
}

@mixin montserrat-light {
  font-family: Montserrat-Light;
}

@mixin montserrat-extra-light {
  font-family: Montserrat-ExtraLight;
}

@mixin montserrat-thin {
  font-family: Montserrat-Thin;
}
