@import "./font.scss";

.heroContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: url(/images/heroBackground.jpeg);
  background-size: cover;
  background-position: 50% 40%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  display: flex;
  justify-content: center;
  align-items: center;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #083208;
    opacity: 0.5;
    z-index: -1;
  }
}

.textContainer {
  padding: 20px;
  display: inline-block;
  text-align: center;
}

.logoImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: 25px auto;
}

.logoImage {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.subHeading {
  text-align: center;
  padding: 10px;
  font-size: 2rem;
  color: #000000;
  background-color: #f1f0f1;
  border-radius: 10px;
  font-weight: 700;
  width: 80%;
  margin: 30px auto;
  @include montserrat-light;
}

.subHeading2 {
  text-align: center;
  padding: 10px;
  @include montserrat-medium;
  color: #ffffff;
}

.countdownTimer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  margin: 0.5rem 0.5rem;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
  }

  span {
    @include montserrat-extra-bold;
    font-weight: 600;
    font-size: 4rem;
    margin-bottom: 0.5rem;
  }

  h1 {
    font-size: 2rem;
    @include montserrat-medium;
  }
}

.divider {
  display: flex;
  margin-right: 10px;
  color: white;
}

.ctaButton {
  margin-top: 50px;
  a {
    display: flex; // Add this line
    align-items: center; // Add this line
    justify-content: center; // Add this line
    border: 4px solid #faf30c;
    color: #147c14;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    padding: 12px 24px;
    margin: 0 300px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    background-color: #faf30c;

    @include montserrat-medium;

    &:hover {
      background-color: transparent;
      color: white;
    }
  }
}

.learnMore {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.learnMore a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s ease;
  @include montserrat-medium;

  &:hover {
    background-color: transparent;

    color: #faf30c;
  }
}

.arrow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #faf30c;
  margin-top: 10px;
}

@media screen and (max-width: 1024px) {
  .countdownTimer {
    flex-wrap: wrap;
    justify-content: center;
    div {
      width: 100px;
      text-align: center;
      margin: 50px 30px;
    }

    .top-row {
      order: -1; /* Add this line to move the top row to the beginning */
    }

    .bottom-row {
      order: 1; /* Add this line to move the bottom row to the end */
    }
    .divider {
      display: none;
    }
  }
}
/* Mobile Portrait */
@media screen and (max-width: 640px) {
  .heading {
    margin-top: 50px;
    font-size: 2.5rem;
  }

  .subHeading {
    font-size: 1.5rem;
    width: 60%;
    margin: 20px auto;
  }

  .countdownTimer {
    div {
      width: 100px;
      margin: 10px 0px;
    }

    span {
      font-size: 4rem;
    }

    h1 {
      font-size: 1rem;
    }
  }

  .ctaButton {
    margin-top: 10px;

    a {
      margin: 0 200px;
    }
  }
}

/* Mobile Landscape */
@media screen and (min-width: 641px) and (max-width: 767px) {
  .heading {
    margin-top: 50px;
    font-size: 4rem;
  }

  .subHeading {
    font-size: 2rem;
    width: 80%;
    margin: 30px auto;
  }

  .countdownTimer {
    div {
      width: 100px;
      margin: 50px 20px;
    }

    span {
      font-size: 4rem;
    }

    h1 {
      font-size: 1rem;
    }
  }

  .ctaButton {
    margin-top: 10px;

    a {
      margin: 0 200px;
    }
  }
}

/* Tablet Portrait */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .heading {
    margin-top: 50px;
  }

  .subHeading {
    width: 45%;
    margin: 30px auto;
  }

}

/* Tablet Landscape */
@media screen and (min-width: 1025px) and (max-width: 1279px) {
}

/* Desktop */
@media screen and (min-width: 1280px) and (max-width: 1680px) {
}

/* Large Desktop */
@media screen and (min-width: 1681px) {
}
