.paymentPrompt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
}

.goBackButton {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 36px;
  height: 36px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;

  svg {
    fill: #147c14;
    transition: fill 0.3s ease;
  }

  &:hover {
    svg {
      fill: #0a5a0a;
    }
  }
}

.instructionsList {
  font-size: 1rem;
  margin-bottom: 2rem;
  text-align: left;
  max-width: 80%;
  padding-left: 1.5rem;

  li {
    list-style-type: disc;
    margin-bottom: 0.5rem;
  }
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 80%;
  margin-bottom: 2rem;
}

.inputField {
  font-size: 1rem;
  padding: 0.5rem;
  border: 2px solid #147c14;
  border-radius: 5px;
  outline: none;

  &:focus {
    border-color: #0a5a0a;
  }

  &::placeholder {
    color: #147c14;
    opacity: 0.7;
  }
}

.sendButton {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid #147c14;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #147c14;
    span {
      color: white;
    }
  }

  span {
    color: #147c14;
    text-decoration: none;
    font-weight: 600;
  }
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 575px) {
  .paymentPrompt {
    margin-top:3rem;
    padding: 0;

    h2{
      text-align: center;
    }
  }
}
